<tr id="<%= dom_id search %>" class="search-row">

  <td>
    <%= search.id %>
  </td>
  <td>
    <%= search.search_params %>
  </td>
  <td>
    <%= search.ip_address %>
  </td>
  <td>
    <%= search.count %>
  </td>

</tr>